.section-about{
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,0.8), rgba($color-primary-dark,0.8)) , url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;
   
    //Selecting all childs of section-features.
    
    & > *{
        transform: skewY(7deg);
    }
}
.section_tours{

    background-color: $color-gray-light-1;
    padding: 25rem 0 50rem 0;
    margin-top: -10rem;
}